.formTitle{
  font-family: 'Poppins', sans-serif;
  font-size: 22px;
  line-height: 28px;
  font-weight: 600;
  text-transform: capitalize;
}



.wizardButtons{
  display: flex;
  flex-wrap: wrap;

  > div{
    margin: 1px;
    flex: 1 0 auto;
  }
}

.fileUpload{
  position: relative;

  .previewImg{
    border: 1px dashed #B9B9B9;
    border-radius: 50%;
    display: block;
    overflow: hidden;

    img{
      display: block;
      width: 100%;
      height: auto;
    }
  }

  label{
    border: 1px dashed #D8D8D8;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    border-radius: 5px;
    color: #A9A9A9;

   /* button {
      &[class*="-delete"] {
        display: none;
      }
    }*/

    input{
      position: absolute;
      opacity: 0;
      z-index: -1;

      &:disabled{
        ~ button {
          display: none;
        }
      }
    }
  }
}

.checkBoxList{
  list-style: none;
  margin: 0;
  padding: 0;
  scrollbar-color: #FFDB43 #F3F3F3;
  scrollbar-width: thin;
  max-height: 460px;
  overflow-y: auto;

  li{
    margin: 0 0 15px;
  }

  .formCheck{
    display: block;
    padding: 15px 15px 15px 40px;
    background: #FFF;
    position: relative;
    border-radius: 5px;

    input{
      width: 20px;
      height: 20px;
      border-radius: 5px;
      border-color: #223430;
      margin: 0 15px 0 -25px;

      &:checked {
        background-color: #FFC700;
        border-color: #FFC700;
      }

      &:focus-visible,
      &:focus{
        box-shadow: none;
        outline: none;
      }
    }
  }
}


.dropDown{
  .button{
    border: 1px solid #efefef !important;
    border-radius: 5px;
    height: 100px;
    padding: 15px;
    width: 100%;
    text-align: left;
    display: flex;
    align-items: center;

    &:after{
      display: none;
    }

    .text{
      display: flex;
      align-items: flex-end;
    }
  }

  .dropDownMenu{
    border: 1px solid #efefef !important;
    border-radius: 0 0 5px 5px;
    width: 100%;

    a{
      display: block;
      padding: 5px 15px;
    }
  }
}

.cardImg{
  position: relative;
}

.btnRow{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;

  button{
    flex: 0 0 200px;
  }
}

.flexRow{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;

  > div {
    flex: 0 0 50%;
    margin: 5px 0;
  }
}