@import "src/Style/include-media";

.logo{
  position: relative;
  width: 150px;
  float: left;

  @include media ("<xs-phone") {
    width: 40px;
    overflow: hidden;
  }

  a{
    display: block;
  }

  img{
    display: block;
    width: 100%;
    height: auto;

    @include media ("<xs-phone") {
      width: 150px;
    }
  }
}