@import "src/Style/include-media";

.summeryDetail {
  position: relative;
  width: 1200px;
  left: 50%;
  [class*="previewImg"] {
    outline: 3px dotted rgb(114, 230, 203) !important;
    outline-offset: 5px;
  }
  transform: translateX(-50%);

  @include media ("<widescreen") {
    width: 980px;
  }

  @include media ("<tablet-x") {
    width: 100%;

  }

  &.disabled {
    input {
      pointer-events: none;

      &[class*="form-control"] {
        border: 1px solid transparent !important;
      }

    }

    div[class="imgUpload"] {
      label {
        display: none !important;
      }

      +p {
        display: none;
      }
    }

    

    div[class*="dropdownContainer"] {
      border: none;
      padding-left: 0 !important;
      pointer-events: none;

      svg {
        display: none;
      }
    }
  }

  .formTitle {
    font-size: 17px;
    line-height: 22px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
  }

  .checkBoxList {
    overflow: hidden;
    flex-wrap: wrap;
  }
}

.summerHeader {
  position: relative;
  background: #FAFBFC;
  margin: -85px 0 0;
}

.logo {
  position: relative;
  width: 60px;
  margin: 0 0 20px;

  a {
    display: block;
  }

  img {
    display: block;
    width: 100%;
    height: auto;
  }
}

.fileUpload {
  border: 1px dashed #d8d8d8;
  border-radius: 5px;
  height: 100px;
  position: relative;
  width: 175px;

  img {
    display: block;
    height: 100px;
    margin: auto;
    padding: 10px;
    width: 120px;
  }

  .textBox {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    p {
      &:first-child {
        font-size: 16px;
        font-weight: 600;
        text-transform: uppercase;
        color: #c1c1c1;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }

      &:last-child {
        color: #7a7a7a;
        font-weight: 600;
        font-size: 12px;
        position: absolute;
        bottom: 0px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }

  label {
    border: 1px dashed #D8D8D8;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    border-radius: 5px;
    color: #A9A9A9;
    overflow: hidden;

    /* button {
       &[class*="-delete"] {
         display: none;
       }
     }*/

    img {
      display: block;
      width: 100%;
      height: auto;
    }

    input {
      position: absolute;
      opacity: 0;
      z-index: -1;

      &:disabled {
        ~button {
          display: none;
        }
      }
    }
  }
}

.checkBoxList {
  list-style: none;
  margin: 0;
  padding: 0;
  scrollbar-color: #FFDB43 #F3F3F3;
  scrollbar-width: thin;
  max-height: 460px;
  overflow-y: scroll;

  li {
    margin: 0 0 15px;
  }

  .formCheck {
    display: block;
    padding: 15px 15px 15px 40px;
    background: #FFF;
    position: relative;
    border-radius: 5px;

    input {
      width: 20px;
      height: 20px;
      border-radius: 5px;
      border-color: #223430;
      margin: 0 15px 0 -25px;

      &:checked {
        background-color: #FFC700;
        border-color: #FFC700;
      }

      &:focus-visible,
      &:focus {
        box-shadow: none;
        outline: none;
      }
    }
  }
}


.dropDown {
  .button {
    border: 1px solid #efefef !important;
    border-radius: 5px;
    height: 100px;
    padding: 15px;
    width: 100%;
    text-align: left;
    display: flex;
    align-items: center;

    &:after {
      display: none;
    }

    .text {
      display: flex;
      align-items: flex-end;
    }
  }

  .dropDownMenu {
    border: 1px solid #efefef !important;
    border-radius: 0 0 5px 5px;
    width: 100%;

    a {
      display: block;
      padding: 5px 15px;
    }
  }
}

.cardImg {
  position: relative;
}

.btnRow {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;

  button {
    flex: 0 0 200px;
  }
}