.summeryDetail {
  position: relative;

  &.disabled {
    input {
      pointer-events: none;
    }

    [class="form-group"] {
    }

    label[class="form-label"] {
      padding-left: 0;
    }

    div[class*="dropdownContainer"] {
      border: none;
      padding-left: 0 !important;
      pointer-events: none;

      svg {
        display: none;
      }
    }
  }

  .checkBoxList {
    overflow: hidden;
    flex-wrap: wrap;
  }
}

.formTitle {
  font-size: 17px !important;
  line-height: 22px !important;
  font-weight: 600 !important;
  font-family: "Poppins", sans-serif !important;
}

.fileUpload {
  position: relative;

  .previewImg {
    border: 1px dashed #b9b9b9;
    border-radius: 50%;
    display: block;
    overflow: hidden;

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  label {
    border: 1px dashed #d8d8d8;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    border-radius: 5px;
    color: #a9a9a9;

    /* button {
       &[class*="-delete"] {
         display: none;
       }
     }*/

    input {
      position: absolute;
      opacity: 0;
      z-index: -1;

      &:disabled {
        ~ button {
          display: none;
        }
      }
    }
  }
}

.checkBoxList {
  list-style: none;
  margin: 0;
  padding: 0;
  scrollbar-color: #ffdb43 #f3f3f3;
  scrollbar-width: thin;
  max-height: 460px;
  overflow-y: scroll;

  li {
    margin: 0 0 15px;
  }

  .formCheck {
    display: block;
    padding: 15px 15px 15px 40px;
    background: #fff;
    position: relative;
    border-radius: 5px;

    input {
      width: 20px;
      height: 20px;
      border-radius: 5px;
      border-color: #223430;
      margin: 0 15px 0 -25px;

      &:checked {
        background-color: #ffc700;
        border-color: #ffc700;
      }

      &:focus-visible,
      &:focus {
        box-shadow: none;
        outline: none;
      }
    }
  }
}

.dropDown {
  .button {
    border: 1px solid #efefef !important;
    border-radius: 5px;
    height: 100px;
    padding: 15px;
    width: 100%;
    text-align: left;
    display: flex;
    align-items: center;

    &:after {
      display: none;
    }

    .text {
      display: flex;
      align-items: flex-end;
    }
  }

  .dropDownMenu {
    border: 1px solid #efefef !important;
    border-radius: 0 0 5px 5px;
    width: 100%;

    a {
      display: block;
      padding: 5px 15px;
    }
  }
}

.cardImg {
  position: relative;
}

.btnRow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  button {
    flex: 0 0 calc(50% - 4px);
    margin: 2px;
  }
}

.cardTitle {
  font-size: 18px !important;
  line-height: 24px !important;
  font-weight: bold !important;
  font-family: "Poppins", sans-serif !important;
  padding: 10px 0 !important;
  &.cardTitleLine {
    position: relative;
    overflow: hidden;
    &:after{
      position: absolute;
    content: "";
    left: 225px;
    right: 0;
    top: 50%;
    width: 100%;
    height: 1px;
    background-color: #E5E5E5;
    transform: translateY(-50%);
    }
  }
}

.file_box {
  position: relative;
  width: 175px;
  height: 100px;
  border: 1px dashed #d8d8d8;
  border-radius: 5px;

  img {
    display: block;
    width: 120px;
    height: 100px;
    margin: auto;
    padding: 10px;
  }

  .textBox {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    p {
      &:first-child {
        text-align: center;
        font-size: 16px;
        font-weight: 600;
        text-transform: uppercase;
        color: #c1c1c1;
        margin: 35px 0 10px 0;
      }
      &:last-child {
        color: #7a7a7a;
        font-weight: 600;
        font-size: 12px;
      }
    }
  }
}

.tagList {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  width: 100%;
  height: 100px;
  font-size: 14px;
  line-height: 30px;
  color: #223430;
  box-shadow: none;
  padding: 50px 20px 20px 0;

  li {
    margin: 2px;

    a {
      display: block;
      padding: 3px 15px;
      font-size: 12px;
      line-height: 16px;
      background: #F6F6F6;
      color: #A9A9A9;
      text-decoration: none;
      text-transform: capitalize;
      font-weight: 600;
      border-radius: 18px;
    }
  }
}